pandas
numpy
tensorflow
scikit-learn
openmeteo_requests
retry_requests
influxdb3-python
python-dotenv
ruamel.yaml
streamlit
plotly
pytest
keras-tuner
boto3
awswrangler
pydot
watchdog
streamlit-folium
h3
geopy
streamlit-autorefresh
tabulate
pyautogui

